@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/breakpoints';

.introduction {
  @include display-col;
  @include display-center;
  overflow-x: hidden;

  &__wrapper {
    @include display-row(10vw);
    @include display-center;
    margin: 96px 80px 40px 80px;

    @include respond(tablet) {
      @include display-row-reverse(3vw);
      margin: 64px 64px 40px 64px;
      align-items: center;
      width: fit-content;
    }

    @include respond(phone) {
      @include display-col(3vw);
      margin: 32px 16px 40px;
      align-items: center;
    }
  }

  &__text-block-wrapper {
    @include display-col(2.5px);
    height: fit-content;
    width: fit-content;

    @include respond(tablet) {
      @include display-center;
    }

    @include respond(phone) {
      @include display-center;
      text-align: center;
      gap: 16px;
    }
  }

  &__text-block {
    @include display-col(8px);
  }

  &__description {
    color: $gray-600;
    max-width: 50vw;

    @include respond(tablet) {
      display: none;
    }
  }

  &__btn {
    align-self: flex-end;
    user-select: none;
  }

  &__image {
    @include display-row;
    height: 360px;
    width: 320px;

    @include respond(tablet) {
      height: 265px;
      width: 236px;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__image-between {
    display: block;
    width: 0; // <-- Это костыль, я не придумал как по-другому пофиксить.
    aspect-ratio: 1/1; // Если задашься вопросом: "что это?", то поменяй display на none и убери размеры

    @include respond(phone) {
      @include display-row;
      height: 314px;
      width: 279px;
    }
  }

  &__wave-wrapper {
    @include display-center;
    @include display-col;
  }
}
