@import "./../../../styles/colors";
@import "./../../../styles/mixins";

.button {
  display: flex;
  @include center;
  background-color: $orange-400;
  border-radius: 8px;

  &:hover {
    background-color: $orange-300;
  }
  &:active {
    background-color: $orange-500;
  }
  &--md {
    height:36px;
    width: 36px;

  }
  &--lg {
    height:44px;
    width: 44px;
  }
}
