// Display column Mixin
@mixin display-col ($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

// Display row Mixin
@mixin display-row ($gap: 0) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

// Display column-reverse Mixin
@mixin display-col-reverse ($gap: 0) {
  display: flex;
  flex-direction: column-reverse;
  gap: $gap;
}

// Display row-reverse Mixin
@mixin display-row-reverse ($gap: 0) {
  display: flex;
  flex-direction: row-reverse;
  gap: $gap;
}

//Centering mixin
@mixin display-center {
  align-items: center;
  justify-content: center;
}

//Centering start mixin
@mixin display-start {
  align-items: start;
  justify-content: center;
}

// Truncate Text Mixin
@mixin truncate($max-width) {
  max-width: $max-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
