@import "./../../../styles/mixins";
@import "./../../../styles/colors";

.tag {
  display: flex;
  @include center;
  background-color: $gray-200;
  border-radius: 12px;
  width: fit-content;

  .tag__text {
    margin: 4px 20px;
    color: $gray-600;
  }
}