@import "@/styles/colors";
@import "@/styles/mixins";

.btn {
  @include display-row;
  background-color: $orange-400;
  border-radius: 20px;
  color: $gray-50;
  padding: 8px 48px;
  border: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.4;
  }
  &:hover {
    background-color: $orange-300;
  }
  &:active {
    background-color: $orange-500;
  }

}

