@import "@/styles/colors";
@import "@/styles/mixins";
@import '@/styles/variables';

.btn {
  @include display-row;

  a {
    text-decoration: none;
    color: $gray-50;
  }

  background-color: $orange-400;
  border-radius: 20px;
  padding: 8px 48px;
  border: none;
  cursor: pointer;
  transition: $default-transition;
  width: fit-content;

  &:disabled {
    opacity: 0.4;
  }

  &:hover {
    background-color: $orange-300;
  }

  &:active {
    background-color: $orange-500;
  }
}
