@import '@/styles/_mixins';
@import '@/styles/_colors';

.testimonials {
  @include display-col(48px);

  background-color: $gray-50;

  &__wrapper {
    @include display-col(16px);
  }

  .title {
    color: $orange-500;
    text-align: center;
  }

  .subtitle {
    color: $gray-600;
    text-align: center;
  }
}
