@import '@/styles/_mixins';
@import '@/styles/_variables';
@import '@/styles/_colors';
@import '@/styles/_breakpoints';

.work-block {
  @include display-col;
  @include display-center;

  border-radius: 12px;

  &--left {
    flex-direction: row;
  }

  &--right {
    flex-direction: row-reverse;

    .work-block__image-block {
      border-radius: 0 12px 12px 0;

      @include respond(tablet) {
        border-radius: 12px;
      }
    }
  }

  @include respond(tablet) {
    flex-direction: column;
  }

  &__image-block {
    padding: 48px;
    border: 1px solid $gray-100;
    background-color: $gray-50;
    border-radius: 12px 0 0 12px;
    margin-bottom: 48px;

    @include respond(tablet) {
      border-radius: 12px;
    }

    @include respond(phone) {
      display: none;
    }

    .image {
      background-color: $white;
      width: 336px;
      border-radius: 12px;
      object-fit: contain;

      @include respond(tablet) {
        width: 544px;
      }
    }
  }

  &__text {
    @include display-col(24px);

    align-items: start;
    padding: 48px;

    &--title {
      color: $gray-900;
    }

    &--description {
      color: $gray-600;
      text-wrap: wrap;
      max-width: 480px;

      @include respond(tablet) {
        max-width: 100%;
      }
    }
  }
}
