@import "@/styles/_colors";
@import "@/styles/_mixins";
@import "@/styles/_breakpoints";

.experience {
  background-color: $gray-50;
  position: relative;
  gap: 48px;

  &__content{
    z-index: 2;
  }

  &__text-block {
    @include display-col(16px);
    @include display-center;
    color: $orange-500;
    text-align: center;

    .subtitle {
      color: $gray-600;
    }
  }

  &__left-orange {
    position: absolute;
    bottom: 0;
    left: 0;

    @include respond(phone) {
      display: none;
    }
  }

  &__middle-orange {
    position: absolute;
    bottom: 0;
    right: 280px;

    @include respond(phone) {
      display: none;
    }
  }

  &__right-orange {
    position: absolute;
    bottom: 0;
    right: 0;

    @include respond(phone) {
      display: none;
    }
  }
}
