@import '@/styles/_mixins';
@import '@/styles/_colors';
@import '@/styles/_variables';
@import '@/styles/_breakpoints';

.experience-content {
  .experience-content-mobile {
    display: none;
  }

  @include respond(phone) {
    .experience-content-mobile {
      display: grid;
    }

    .experience-content-desktop {
      display: none;
    }
  }
}
