@import '@/styles/_mixins';
@import '@/styles/_colors';
@import '@/styles/_breakpoints';

.technologies-items {
  @include display-col(10px);
  @include display-center;

  transition: transform 0.3s;
  height: 105px;
  aspect-ratio: 1/1;

  @include respond(tablet) {
    width: 90px;
  }

  &:hover {
    transform: scale(1.05);
  }

  svg {
    width: 60px;
    aspect-ratio: 1/1;
  }

  &__title {
    color: $gray-600;
  }
}
