@import '@/styles/_mixins';
@import '@/styles/_variables';
@import '@/styles/_breakpoints';

.slider {
  @include display-row;
  @include display-center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;

  &__groups {
    @include display-row;
    @include display-center;
    overflow: hidden;
    width: 60%;

    @include respond(tablet) {
      width: 80%;
    };

    @include respond(phone) {
      width: 100%;
    };

    &__group {
      @include display-row(67px);
      @include display-center;
      animation: slideAnimation 6s infinite forwards;
      will-change: transform;
      flex-shrink: 0;
      width: 100%;

      @include respond(tablet) {
        gap: 20px;
      }

      @include respond(phone) {
        animation: slideAnimation5 10s infinite forwards;
        gap: 9px;
      }

      @keyframes slideAnimation {
        0% {
          transform: translateX(200%);
        }
        25% {
          transform: translateX(100%);
        }
        50% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      @keyframes slideAnimation5 {
        0% {
          transform: translateX(300%);
        }
        20% {
          transform: translateX(200%);
        }
        40% {
          transform: translateX(100%);
        }
        60% {
          transform: translateX(0);
        }
        80% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(-200%);
        }
      }
    }
  }
}