@import '@/styles/_mixins';
@import '@/styles/_variables';
@import '@/styles/_breakpoints';

.slider {
  @include display-row;
  @include display-center;
  position: relative;
  width: 100%;

  &__groups {
    @include display-row;
    @include display-center;
    overflow: hidden;
    width: 60%;

    @media (max-width: 1485px) {
      width: 70%;
    }

    @media (max-width: 1285px) {
      width: 80%;
    }

    @media (max-width: 1185px) {
      width: 91%;
    }

    @include respond(tablet) {
      width: 100%;
    };

    &__group {
      @include display-row(67px);
      @include display-center;
      animation: slideAnimation 6s infinite forwards;
      will-change: transform;
      flex-shrink: 0;
      width: 100%;
      padding: 0 500px;

      @include respond(tablet) {
        gap: 47px;
      }

      @include respond(phone) {
        animation: slideAnimationMobile 10s infinite forwards;
        justify-content: space-evenly;
        padding: 0;
        gap: 9px;
      }

      @keyframes slideAnimation {
        0% {
          transform: translateX(200%);
        }
        25% {
          transform: translateX(100%);
        }
        50% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      @keyframes slideAnimationMobile {
        0% {
          transform: translateX(300%);
        }
        20% {
          transform: translateX(200%);
        }
        40% {
          transform: translateX(100%);
        }
        60% {
          transform: translateX(0);
        }
        80% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(-200%);
        }
      }
    }
  }
}